<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Latin to Morse</title>
    <link rel="stylesheet" href="/assets/css/style.css">

</head>
<body>
    <header>
        <a href="/">< Home</a>
    </header>
    <div class="main">
        <h1>Latin to Morse</h1>
        <p>Write your latin texts below</p>
        <div id="app">
            <textarea v-model="latin" id="txtLatinAlphabet" cols="50" rows="10"></textarea>
            <button v-on:click="convertToMorseCode">Convert</button>
            <p class="result"><strong v-if="morseCode.length">Morse Code:</strong> {{ morseCode }}</p>
        </div>
    </div>

    <script src="/assets/js/vue.js"></script>
    <script src="/assets/js/socket.io.js"></script>
    <script src="/main.js"></script>

</body>
</html>